footer img {
  width: 50px; }

.mention h5 {
  color: white; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro' , sans-serif;
  background-color: beige; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arial', sans-serif;
  font-weight: bold; }

ul, li {
  list-style-type: none; }

ul li a {
  text-decoration: none;
  color: white; }

a:hover {
  background-color: white;
  color: #1c3643; }
